<!DOCTYPE html>
<html lang="en" ng-app="moerApp">
<head>
  <meta charset="UTF-8">
  <title>摩尔新首页</title>
  <meta name="format-detection" content="telephone=no" />
  <meta content="email=no" name="format-detection" />
  <link rel="stylesheet" href="./css/newindex.css"/>
  <script src="./js/jquery-1.9.0.min.js"></script>
  <script src="./js/angular.min.js"></script>
  <script src="./js/controller.js"></script>
  <script src="./js/moerRequest.js"></script>
  <script src="./js/moerInteraction.js"></script>
</head>
<body>
  <div class="header">
    <div class="header-left">
      <div class="logo">
        <img src="./images/moer-new-logo.png" alt="#"/>
      </div>
      <div class="header-nav">
        <ul>
          <li class=""><a href="#">首页</a></li>
          <li><a href="#">自选股</a></li>
          <li class="headernav-div">
            <i></i>
            <div class="headerhas-dropdown"><a href="#">投资观点</a>
              <div class="header-dropdown headertzgd-down">
                <em></em>
                <ul>
                  <li><a href="#">推荐</a></li>
                  <li><a href="#">分类</a></li>
                  <li><a href="#">排行榜</a></li>
                </ul>
              </div>
            </div>
            <div class="headerhas-dropdown"><a href="#">问答</a>
              <div class="header-dropdown headerwd-down">
                <em></em>
                <ul>
                  <li><a href="#">问答发现</a></li>
                  <li><a href="#">话题广场</a></li>
                  <li><a href="#">所有问题</a></li>
                </ul>
                <button>提问</button>
              </div>
            </div>
            <a href="#">找高手</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-right" ng-controller="headerMsg">
      <ul>
        <li class="header-search"><a href="javascript:void(0);" class="headersearch-btn">搜索</a>
          <div class="headersearch-cont headerhas-dropdown" ng-controller="headerSearch">
            <div class="headersearch-form">
              <input type="text" placeholder="找个股/用户/文章/问题/群组" ng-model="searchKey" class="headersearch-input" ng-keyup="searchTo($event)"/>
              <button type="button" ng-click="searchStart()"></button>
            </div>
            <div class="header-dropdown headersearch-down" ng-style="searchdisplay">
              <em></em>
              <div class="headersearch-item">
                <span>相关股票</span>
                <ul>
                  <li ng-if="$index < 3" ng-repeat="s in search.stock"><a ng-href="/stockcode.htm?code=cn_{{s.stockCode}}">{{s.stockName}}&nbsp;(&nbsp;{{s.stockCode}}&nbsp;)</a></li>
                </ul>
              </div>
              <div class="headersearch-item">
                <span>相关文章</span>
                <ul>
                  <li ng-if="$index < 3" ng-repeat="a in search.article"><a ng-href="/articleDetails.htm?articleId={{a.articleId}}">{{a.title | limitTo:18}}</a></li>
                </ul>
                <a href="#" class="headersearch-more">查看更多&gt;&gt;</a>
              </div>
              <div class="headersearch-item">
                <span>相关用户</span>
                <ul>
                  <li class="headersearch-img" ng-if="$index < 3" ng-repeat="u in search.user">
                    <a ng-href="/authorHome.htm?theId={{u.id}}"><img ng-src="http://moerfile.jiemian.com/staticFile{{u.img}}" alt="{{u.name}}"/></a>
                    <h6><a ng-href="/authorHome.htm?theId={{u.id}}">{{u.name}}</a></h6>
                  </li>
                </ul>
                <a href="#" class="headersearch-more">查看更多&gt;&gt;</a>
              </div>
              <div class="headersearch-item">
                <span>相关问答</span>
                <ul>
                  <li class="headersearch-img">
                    <a href="#"><img src="./images/avatar/avatar8.jpg" alt="#"/></a>
                    <h6><a href="#">八卦A</a></h6>
                  </li>
                  <li class="headersearch-img">
                    <a href="#"><img src="./images/avatar/avatar8.jpg" alt="#"/></a>
                    <h6><a href="#">八卦A</a></h6>
                  </li>
                  <li ng-if="$index < 3" ng-repeat="q in search.question"><a ng-href="/showQuestionDetail.htm?mQuestion_id={{q.questionId}}">{{q.questionTitle | limitTo:18}}</a></li>
                </ul>
                <a href="/usersysmsg.htm" class="headersearch-more">查看更多&gt;&gt;</a>
              </div>
            </div>
          </div>
        </li>
        <li class="header-app headerhas-dropdown"><a href="#">客户端</a>
          <div class="header-dropdown headerapp-down">
            <em></em>
            <h4>下载摩尔金融客户端</h4>
            <img src="../moerStatics/images/erweima.fw.png" alt="#"/>
            <button>iPhone&nbsp;下载</button>
            <button>Android&nbsp;下载</button>
          </div>
        </li>
        <li class="header-notice headerhas-dropdown"><a href="#"></a><i class="header-count">{{msg}}</i>
          <div class="header-dropdown headernotice-down" ng-if="msg > 0">
            <em></em>
            <ul class="headernotice-cont">
              <li ng-repeat="msglist in msgCount">
                <a ng-href="authorHome.htm?theId={{msglist.actUserId}}">{{msglist.actUserName}}</a>
                <span ng-if="msglist.actType == 1">回答了您的问题</span>
                <span ng-if="msglist.actType == 2">回答了问题</span>
                <span ng-if="msglist.actType == 3">评论了您的回答</span>
                <span ng-if="msglist.actType == 4">赞了您的回答</span>
                <span ng-if="msglist.actType == 5">回复了您的评论</span>
                <span ng-if="msglist.actType == 6">评论了您的文章</span>
                <span ng-if="msglist.actType == 7">评论了您的回复</span>
                <span ng-if="msglist.actType == 8">收藏了您的文章</span>
                <span ng-if="msglist.actType == 9">赞了您的文章</span>
                <span ng-if="msglist.actType == 10">评论了您的活动</span>
                <span ng-if="msglist.actType == 11">收藏了您的活动</span>
                <span ng-if="msglist.actType == 12">赞了您的活动</span>
                <span ng-if="msglist.actType == 13">评论了您的回复</span>
                <a  ng-href="/showQuestionDetail.htm?mQuestion_id={{msglist.actObjectId}}" ng-if="msglist.objectType < 4">
                  {{msglist.objectContent}}
                </a>
                <a  ng-href="/showQuestionDetail.htm?mQuestion_id={{msglist.actObjectId}}" ng-if="msglist.objectType > 3">
                  {{msglist.message}}
                </a>
              </li>
            </ul>
            <a href="#" class="header-notice-more">查看更多</a>
          </div>
        </li>
        <li class="header-msg"><a href="/cs.htm"></a><i ng-if="letter > 0" class="header-count">{{letter}}</i></li>
      </ul>
      <div class="header-user headerhas-dropdown">
        <a href="#"><em></em>我是用户名<i class="userv-blue"></i><i class="userv-red"></i></a>
        <div class="header-dropdown headeruser-down">
          <em></em>
          <ul>
            <li><a href="#">我的主页</a></li>
            <li><a href="#">我的发布</a></li>
            <li class="header-shopping"><a href="#">我的购物车<i ng-if="shopping > 0" class="header-count">{{shopping}}</i></a></li>
            <li><a href="#">管理订单</a></li>
            <li><a href="#">购买记录</a></li>
            <li><a href="#">账户设置</a></li>
            <li><a href="#">退出账号</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="opinionTop">
      <div class="opinionSubmit"></div>
      <div class="returnTop"></div>
    </div>
    <div class="left-content">
      <div class="cont-title">
        <h1>关注动态</h1>
      </div>
      <div class="moerdynamic-flow" nowpage="1">
        <div class="moerdynamic-new"></div>
        <div class="moerdynamic-item" eventtype="5" objectid="9015">
          <div class="moerdynamic-header">
            <div class="moerdynamic-down">
              <span></span>
              <div class="moerdynamic-dropdown">
                <a href="javascript:void(0);" class="moerdynamic-dropdown-collection" collection="Y">收藏</a>
                <a href="javascript:void(0);" class="moerdynamic-dropdown-report">举报</a>
              </div>
            </div>
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">我是用户名</a></h3>
            <p>发布了一个投资观点 <span>24分钟前</span></p>
          </div>
          <div class="moerdynamic-body moerdynamic-body-hasimg">
            <h1><i class="dynamicicon-zd">置顶</i><a href="#">为什么航信转债价格这么高—转债定价的再研究</a></h1>
            <p><span>【摘要】</span>一是现货市场和期货市场做套期保值交易。比如手里持有大宗商品现货，如果担心价格下跌，那么在期货市场上做空，对冲现货下跌风险。二是很多大宗商品对于上市公司的业务而言是原</p>
            <div class="moerdynamic-charge">
              <span class="moerdynamic-charge-num">123456789字</span>
              <span class="moerdynamic-charge-img">8图</span>
            </div>
          </div>
          <div class="moerdynamic-footer">
            <div class="moerdynamic-right">
              <span class="moerdynamic-comment" commentopen="0">评论</span>
              <span class="moerdynamic-share">分享</span>
            </div>
            <button type="button" class="moerdynamic-zan">1</button>
            <div class="moerdynamic-zanuser">
              <ul>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar1.jpg" alt="#"/></a>
                </li>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar4.jpg" alt="#"/></a>
                </li>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar7.jpg" alt="#"/></a>
                </li>
              </ul>
              <span>等</span>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item" eventtype="5" objectid="9015">
          <div class="moerdynamic-header">
            <div class="moerdynamic-down">
              <span></span>
              <div class="moerdynamic-dropdown">
                <a href="javascript:void(0);" class="moerdynamic-dropdown-collection" collection="Y">收藏</a>
                <a href="javascript:void(0);" class="moerdynamic-dropdown-report">举报</a>
              </div>
            </div>
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">我是用户名</a></h3>
            <p>发布了一个投资观点 <span>24分钟前</span></p>
          </div>
          <div class="moerdynamic-body ">
            <h1><i class="dynamicicon-zd">置顶</i><a href="#">为什么航信转债价格这么高—转债定价的再研究</a></h1>
            <p><span>【摘要】</span>一是现货市场和期货市场做套期保值交易。比如手里持有大宗商品现货，如果担心价格下跌，那么在期货市场上做空，对冲现货下跌风险。二是很多大宗商品对于上市公司的业务而言是原</p>
            <div class="moerdynamic-charge">
              <span class="moerdynamic-charge-num">123456789字</span>
              <span class="moerdynamic-charge-img">8图</span>
            </div>
          </div>
          <div class="moerdynamic-footer">
            <div class="moerdynamic-right">
              <span class="moerdynamic-comment" commentopen="0">12条评论</span>
              <span class="moerdynamic-share">分享</span>
            </div>
            <button type="button" class="moerdynamic-attention moerdynamic-attention-y">已关注</button>
            <button type="button" class="moerdynamic-attention">关注问题</button>
          </div>
        </div>
        <div class="moerdynamic-item" eventtype="5" objectid="9015">
          <div class="moerdynamic-header">
            <div class="moerdynamic-down">
              <span></span>
              <div class="moerdynamic-dropdown">
                <a href="javascript:void(0);" class="moerdynamic-dropdown-collection" collection="Y">收藏</a>
                <a href="javascript:void(0);" class="moerdynamic-dropdown-report">举报</a>
              </div>
            </div>
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">我是用户名</a></h3>
            <p>发布了一个投资观点 <span>24分钟前</span></p>
          </div>
          <div class="moerdynamic-body ">
            <h1><i class="dynamicicon-zd">置顶</i><a href="#">为什么航信转债价格这么高—转债定价的再研究</a></h1>
            <p><span>【摘要】</span>一是现货市场和期货市场做套期保值交易。比如手里持有大宗商品现货，如果担心价格下跌，那么在期货市场上做空，对冲现货下跌风险。二是很多大宗商品对于上市公司的业务而言是原</p>
            <div class="moerdynamic-charge">
              <span class="moerdynamic-charge-num">123456789字</span>
              <span class="moerdynamic-charge-img">8图</span>
            </div>
          </div>
          <div class="moerdynamic-footer">
            <div class="moerdynamic-right">
              <span class="moerdynamic-comment" commentopen="0">12条评论</span>
              <span class="moerdynamic-share">分享</span>
            </div>
            <button type="button" class="moerdynamic-attention moerdynamic-attention-y">已关注</button>
            <button type="button" class="moerdynamic-attention">关注问题</button>
          </div>
        </div>
        <div class="moerdynamic-item" eventtype="5" objectid="9015">
          <div class="moerdynamic-header">
            <div class="moerdynamic-down">
              <span></span>
              <div class="moerdynamic-dropdown">
                <a href="javascript:void(0);" class="moerdynamic-dropdown-collection" collection="Y">收藏</a>
                <a href="javascript:void(0);" class="moerdynamic-dropdown-report">举报</a>
              </div>
            </div>
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">我是用户名</a></h3>
            <p>发布了一个投资观点 <span>24分钟前</span></p>
          </div>
          <div class="moerdynamic-body ">
            <h1><i class="dynamicicon-zd">置顶</i><a href="#">为什么航信转债价格这么高—转债定价的再研究</a></h1>
            <p><span>【摘要】</span>一是现货市场和期货市场做套期保值交易。比如手里持有大宗商品现货，如果担心价格下跌，那么在期货市场上做空，对冲现货下跌风险。二是很多大宗商品对于上市公司的业务而言是原</p>
            <div class="moerdynamic-charge">
              <span class="moerdynamic-charge-num">123456789字</span>
              <span class="moerdynamic-charge-img">8图</span>
            </div>
          </div>
          <div class="moerdynamic-footer">
            <div class="moerdynamic-right">
              <span class="moerdynamic-comment" commentopen="0">12条评论</span>
              <span class="moerdynamic-share">分享</span>
            </div>
            <button type="button" class="moerdynamic-attention moerdynamic-attention-y">已关注</button>
            <button type="button" class="moerdynamic-attention">关注问题</button>
          </div>
        </div>
        <div class="moerdynamic-item" eventtype="5" objectid="9015">
          <div class="moerdynamic-header">
            <div class="moerdynamic-down">
              <span></span>
              <div class="moerdynamic-dropdown">
                <a href="javascript:void(0);" class="moerdynamic-dropdown-collection" collection="Y">收藏</a>
                <a href="javascript:void(0);" class="moerdynamic-dropdown-report">举报</a>
              </div>
            </div>
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">我是用户名</a></h3>
            <p>发布了一个投资观点 <span>24分钟前</span></p>
          </div>
          <div class="moerdynamic-body">
            <h1><i class="dynamicicon-zd">置顶</i><a href="#">为什么航信转债价格这么高—转债定价的再研究</a></h1>
            <p><span>【摘要】</span>一是现货市场和期货市场做套期保值交易。比如手里持有大宗商品现货，如果担心价格下跌，那么在期货市场上做空，对冲现货下跌风险。二是很多大宗商品对于上市公司的业务而言是原</p>
            <div class="moerdynamic-charge">
              <span class="moerdynamic-charge-num">123456789字</span>
              <span class="moerdynamic-charge-img">8图</span>
            </div>
          </div>
          <div class="moerdynamic-footer">
            <div class="moerdynamic-right">
              <span class="moerdynamic-comment" commentopen="0">12条评论</span>
              <span class="moerdynamic-share">分享</span>
            </div>
            <button type="button" class="moerdynamic-attention moerdynamic-attention-y">已关注</button>
            <button type="button" class="moerdynamic-attention">关注问题</button>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-down">
              <span></span>
              <div class="moerdynamic-dropdown">
                <a href="javascript:void(0);" class="moerdynamic-dropdown-collection">收藏</a>
                <a href="javascript:void(0);" class="moerdynamic-dropdown-report">举报</a>
              </div>
            </div>
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">我是用户名</a><i class="userv-red"></i></h3>
            <p>发布了一个投资观点 <span>24分钟前</span></p>
          </div>
          <div class="moerdynamic-body">
            <h1><a href="#">为什么航信转债价格这么高—转债定价的再研究</a></h1>
            <img src="./images/avatar/avatar10.jpg" alt="#"/>
            <p>
              <span>【摘要】</span>一是现货市场和期货市场做套期保值交易。比如手里持有大宗商品现货，如果担心价格下跌，那么在期货市场上做空，对冲现货下跌风险。二是很多大宗商品对于上市公司的业务而言是原材料，大宗商品下跌，对于下游产业是利好。
            </p>
            <div class="moerdynamic-charge">
              <span class="moerdynamic-charge-num">123456789字</span>
              <span class="moerdynamic-charge-img">8图</span>
            </div>
          </div>
          <div class="moerdynamic-footer">
            <div class="moerdynamic-right">
              <span class="moerdynamic-comment">7条评论</span>
              <span class="moerdynamic-share">分享</span>
            </div>
            <button type="button" class="moerdynamic-zan moerdynamic-zan-y">456</button>
            <div class="moerdynamic-zanuser">
              <ul>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar3.jpg" alt="#"/></a>
                </li>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar6.jpg" alt="#"/></a>
                </li>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar9.jpg" alt="#"/></a>
                </li>
              </ul>
              <span>等</span>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-down">
              <span></span>
              <div class="moerdynamic-dropdown">
                <a href="javascript:void(0);" class="moerdynamic-dropdown-collection">收藏</a>
                <a href="javascript:void(0);" class="moerdynamic-dropdown-report">举报</a>
              </div>
            </div>
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">我是用户名</a><i class="userv-red"></i></h3>
            <p>发布了一个投资观点 <span>24分钟前</span></p>
          </div>
          <div class="moerdynamic-body">
            <h1><a href="#">为什么航信转债价格这么高—转债定价的再研究</a></h1>
            <p><span>【摘要】</span>一是现货市场和期货市场做套期保值交易。比如手里持有大宗商品现货，如果担心价格下跌，那么在期货市场上做空，对冲现货下跌风险。二是很多大宗商品对于上市公司的业务而言是原材料，大宗商品下跌，对于下游产业是利好。</p>
            <div class="moerdynamic-charge">
              <span class="moerdynamic-charge-num">123456789字</span>
              <span class="moerdynamic-charge-img">8图</span>
            </div>
          </div>
          <div class="moerdynamic-footer">
            <div class="moerdynamic-right">
              <span class="moerdynamic-comment">7条评论</span>
              <span class="moerdynamic-share">分享</span>
            </div>
            <button type="button" class="moerdynamic-zan moerdynamic-zan-y">456</button>
            <div class="moerdynamic-zanuser">
              <ul>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar3.jpg" alt="#"/></a>
                </li>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar6.jpg" alt="#"/></a>
                </li>
                <li class="moerUsercard">
                  <a href="#"><img src="./images/avatar/avatar9.jpg" alt="#"/></a>
                </li>
              </ul>
              <span>等</span>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">摩尔君</a><i class="userv-red"></i></h3>
            <p>24分钟前</p>
          </div>
          <div class="moerdynamic-body">
            <p>为你推荐刚刚来这里的撰稿人。</p>
            <div class="dynamic-moer">
              <em></em>
              <div class="dynamicwriter-item">
                <div class="dynamicwriter-avatar"><a href="#"><img src="./images/avatar/avatar5.jpg" alt="#"/></a></div>
                <div class="dynamicwriter-right">
                  <h4><a href="#">用户名</a><i class="userv-red"></i></h4>
                  <p>宏观、策略、TMT妄想读懂全球...</p>
                  <span>5日收益：<i>78.81%</i></span>
                  <button type="button" class="dynamicwriter-atten dynamicwriter-atten">关注</button>
                </div>
              </div>
              <div class="dynamicwriter-item">
                <div class="dynamicwriter-avatar"><a href="#"><img src="./images/avatar/avatar5.jpg" alt="#"/></a></div>
                <div class="dynamicwriter-right">
                  <h4><a href="#">用户名</a><i class="userv-red"></i></h4>
                  <p>宏观、策略、TMT妄想读懂全球...</p>
                  <span>5日收益：<i>78.81%</i></span>
                  <button type="button" class="dynamicwriter-atten dynamicwriter-atten-y">已关注</button>
                </div>
              </div>
              <div class="dynamicwriter-item">
                <div class="dynamicwriter-avatar"><a href="#"><img src="./images/avatar/avatar5.jpg" alt="#"/></a></div>
                <div class="dynamicwriter-right">
                  <h4><a href="#">用户名</a><i class="userv-red"></i></h4>
                  <p>宏观、策略、TMT妄想读懂全球...</p>
                  <span>5日收益：<i>78.81%</i></span>
                  <button type="button" class="dynamicwriter-atten dynamicwriter-atten">关注</button>
                </div>
              </div>
              <div class="dynamicwriter-item">
                <div class="dynamicwriter-avatar"><a href="#"><img src="./images/avatar/avatar5.jpg" alt="#"/></a></div>
                <div class="dynamicwriter-right">
                  <h4><a href="#">用户名</a><i class="userv-red"></i></h4>
                  <p>宏观、策略、TMT妄想读懂全球...</p>
                  <span>5日收益：<i>78.81%</i></span>
                  <button type="button" class="dynamicwriter-atten dynamicwriter-atten-y">已关注</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">摩尔君</a><i class="userv-red"></i></h3>
            <p>24分钟前</p>
          </div>
          <div class="moerdynamic-body">
            <p>为你推荐刚刚来这里的撰稿人。</p>
            <div class="dynamic-moer dynamic-article">
              <em></em>
              <h2><a href="#">下一波炒作预期最大的黑马机会分析！</a></h2>
              <h5><a href="#">摩尔君</a>擅长短线投资，我就是来抄底的。哈哈...</h5>
              <p>几乎所有人都知道，在A股投资股票最暴力的赚钱方式就是做重组股，所以重组股的好处我就不多说了。我身边朋友以及自己在股市大赚的主要都来自于重组股。那么今天，我总结了一些今年必定会重组，且重组成功概率极大的股票和大家一起分享...</p>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">摩尔君</a><i class="userv-red"></i></h3>
            <p>24分钟前</p>
          </div>
          <div class="moerdynamic-body">
            <p>为你推荐刚刚来这里的撰稿人。</p>
            <div class="dynamic-moer dynamic-ul">
              <em></em>
              <ul>
                <li>
                  <div class="dynamicul-avatar">
                    <a href="#"><img src="./images/avatar/avatar7.jpg" alt="#"/></a>
                  </div>
                  <div class="dynamicul-right">
                    <h4><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发</a></h4>
                    <div class="dynamicul-r">
                      <span>5日收益</span>
                      <i>789.987%</i>
                    </div>
                    <div class="dynamicul-uname">
                      <a href="#">小小辛巴</a>
                    </div>
                    <span>1分钟前</span>
                  </div>
                </li>
                <li>
                  <div class="dynamicul-avatar">
                    <a href="#"><img src="./images/avatar/avatar7.jpg" alt="#"/></a>
                  </div>
                  <div class="dynamicul-right">
                    <h4><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发</a></h4>
                    <div class="dynamicul-r">
                      <span>5日收益</span>
                      <i>789.987%</i>
                    </div>
                    <div class="dynamicul-uname">
                      <a href="#">小小辛巴</a>
                    </div>
                    <span>1分钟前</span>
                  </div>
                </li>
                <li>
                  <div class="dynamicul-avatar">
                    <a href="#"><img src="./images/avatar/avatar7.jpg" alt="#"/></a>
                  </div>
                  <div class="dynamicul-right">
                    <h4><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发</a></h4>
                    <div class="dynamicul-r">
                      <span>5日收益</span>
                      <i>789.987%</i>
                    </div>
                    <div class="dynamicul-uname">
                      <a href="#">小小辛巴</a>
                    </div>
                    <span>1分钟前</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">摩尔君</a><i class="userv-red"></i></h3>
            <p>24分钟前</p>
          </div>
          <div class="moerdynamic-body">
            <p>为你推荐刚刚来这里的撰稿人。</p>
            <div class="dynamic-moer dynamic-article">
              <em></em>
              <h2><a href="#">下一波炒作预期最大的黑马机会分析！</a></h2>
              <h5><a href="#">摩尔君</a>擅长短线投资，我就是来抄底的。哈哈...</h5>
              <p>几乎所有人都知道，在A股投资股票最暴力的赚钱方式就是做重组股，所以重组股的好处我就不多说了。我身边朋友以及自己在股市大赚的主要都来自于重组股。那么今天，我总结了一些今年必定会重组，且重组成功概率极大的股票和大家一起分享...</p>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">摩尔君</a><i class="userv-red"></i></h3>
            <p>24分钟前</p>
          </div>
          <div class="moerdynamic-body">
            <p>为你推荐刚刚来这里的撰稿人。</p>
            <div class="dynamic-moer dynamic-ul">
              <em></em>
              <ul>
                <li>
                  <div class="dynamicul-avatar">
                    <a href="#"><img src="./images/avatar/avatar7.jpg" alt="#"/></a>
                  </div>
                  <div class="dynamicul-right">
                    <h4><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发</a></h4>
                    <div class="dynamicul-r">
                      <span>5日收益</span>
                      <i>789.987%</i>
                    </div>
                    <div class="dynamicul-uname">
                      <a href="#">小小辛巴</a>
                    </div>
                    <span>1分钟前</span>
                  </div>
                </li>
                <li>
                  <div class="dynamicul-avatar">
                    <a href="#"><img src="./images/avatar/avatar7.jpg" alt="#"/></a>
                  </div>
                  <div class="dynamicul-right">
                    <h4><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发</a></h4>
                    <div class="dynamicul-r">
                      <span>5日收益</span>
                      <i>789.987%</i>
                    </div>
                    <div class="dynamicul-uname">
                      <a href="#">小小辛巴</a>
                    </div>
                    <span>1分钟前</span>
                  </div>
                </li>
                <li>
                  <div class="dynamicul-avatar">
                    <a href="#"><img src="./images/avatar/avatar7.jpg" alt="#"/></a>
                  </div>
                  <div class="dynamicul-right">
                    <h4><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发</a></h4>
                    <div class="dynamicul-r">
                      <span>5日收益</span>
                      <i>789.987%</i>
                    </div>
                    <div class="dynamicul-uname">
                      <a href="#">小小辛巴</a>
                    </div>
                    <span>1分钟前</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">摩尔君</a><i class="userv-red"></i></h3>
            <p>24分钟前</p>
          </div>
          <div class="moerdynamic-body">
            <p>为你推荐刚刚来这里的撰稿人。</p>
            <div class="dynamic-moer dynamic-article">
              <em></em>
              <h2><a href="#">下一波炒作预期最大的黑马机会分析！</a></h2>
              <h5><a href="#">摩尔君</a>擅长短线投资，我就是来抄底的。哈哈...</h5>
              <p>几乎所有人都知道，在A股投资股票最暴力的赚钱方式就是做重组股，所以重组股的好处我就不多说了。我身边朋友以及自己在股市大赚的主要都来自于重组股。那么今天，我总结了一些今年必定会重组，且重组成功概率极大的股票和大家一起分享...</p>
            </div>
          </div>
        </div>
        <div class="moerdynamic-item">
          <div class="moerdynamic-header">
            <div class="moerdynamic-avatar">
              <a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a>
            </div>
            <h3><a href="#">摩尔君</a><i class="userv-red"></i></h3>
            <p>24分钟前</p>
          </div>
          <div class="moerdynamic-body">
            <p>为你推荐刚刚来这里的撰稿人。</p>
            <div class="dynamic-moer dynamic-wd">
              <em></em>
              <ul>
                <li>
                  <i>问</i>
                  <h2><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发博耳电力：核心业务增长理想 受益于国家智能电网发?</a><span>3个回答</span></h2>
                </li>
                <li>
                  <i>答</i>
                  <h2><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发博耳电力：核心业务增长理想 受益于国家智能电网发?</a><span>3个回答</span></h2>
                </li>
                <li>
                  <i>问</i>
                  <h2><a href="#">博耳电力：核心业务增长理想 受益于国家智能电网发博耳电力：核心业务增长理想 受益于国家智能电网发?</a><span>3个回答</span></h2>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-content">
      <!-- 右侧用户 start -->
      <div class="aside-user" ng-controller="userInfo">
        <a href="#"><img ng-src="http://moerfile.jiemian.com/staticFile{{userinfo.head}}" alt="{{userinfo.name}}"/></a>
        <div class="asideuser-right">
          <h2>
            {{userinfo.name}}
            <i ng-if="userinfo.user_level == 1" class="userv-red"></i>
            <i ng-if="userinfo.user_level == 2" class="userv-blue"></i>
          </h2>
          <p>{{userinfo.persion_describe}}</p>
        </div>
        <div class="asideuser-message">
          <ul>
            <li><a href="#">关注<strong>{{userinfo.follow}}</strong></a></li>
            <li><a href="#">粉丝<strong>{{userinfo.fans}}</strong></a></li>
            <li><a href="#">文章<strong>{{userinfo.articleCount}}</strong></a></li>
            <li><a href="#">问答<strong>{{userinfo.wd}}</strong></a></li>
          </ul>
        </div>
      </div>
      <!-- 右侧用户 end -->
      <!-- 我的自选股 start -->
      <div class="aside-block aside-block-stock">
        <div class="aside-title">
          <h1>我的自选股</h1>
        </div>
        <div class="aside-stock">
          <div class="asidestock-index" ng-controller="stockIndex">
            <ul>
              <li ng-repeat="v in stockdp">
                <h5 ng-bind="v.index_name"></h5>
                <h3 ng-bind="v.current_point"></h3>
                <p ng-if="v.change_rate > 0" class="asidestock-red"><span>{{v.change_rate}}%</span><span ng-bind="v.current_point * v.change_rate / 100 | number : 2"></span></p>
                <p ng-if="v.change_rate < 0" class="asidestock-green"><span>{{v.change_rate}}%</span><span>{{v.current_point * v.change_rate / 100 | number : 2}}</span></p>
              </li>
            </ul>
            <div class="asidestock-indexmore"></div>
          </div>
          <div class="asidestock-my">
            <div class="aside-tab aside-tab-4" ng-controller="stockMy">
              <a class="on" href="javascript:void(0);" ng-if="$index == 0" ng-repeat="stock in stockMy track by $index">{{stock | limitTo : 4}}</a>
              <a href="javascript:void(0);" ng-if="0 < $index && $index < 3" ng-repeat="stock in stockMy track by $index">{{stock | limitTo : 4}}</a>
              <a href="#">更多</a>
            </div>
            <table>
              <thead>
                <tr>
                  <td>股票</td>
                  <td>当前价</td>
                  <td>涨跌幅</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-red">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-green">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-red">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-green">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-red">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-green">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-red">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-green">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-red">+8.02%</td>
                </tr>
                <tr>
                  <td>三一重工</td>
                  <td>8.02</td>
                  <td class="asidestock-green">+8.02%</td>
                </tr>
              </tbody>
            </table>
            <div class="asidestock-more">
              显示更多
            </div>
            <div class="asidestock-form">
              <div class="asidestock-input">
                <input type="text" name="stock" placeholder="搜索股票代码 / 名称 / 首字母"/>
              </div>
              <button>添加自选股</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 我的自选股 end -->
      <!-- 热门问答 start -->
      <div class="aside-block aside-block-cont">
        <div class="aside-title">
          <a href="#" class="asidetitle-more">更多回答</a>
          <h1>热门问答</h1>
        </div>
        <div class="aside-wd" ng-controller="hotQuestion">
          <ul>
            <li ng-if="$index < 5" ng-repeat="wd in hotquestion">
              <p><a ng-href="/showQuestionDetail.htm?mQuestion_id={{wd.mQuestion_id}}">{{wd.mQuestion_title}}</a></p>
              <!--<div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar1.jpg" alt="#"/></a></div>-->
              <!--<div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a></div>-->
              <!--<div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar3.jpg" alt="#"/></a></div>-->
              <span>共{{wd.mQuestion_extend2}}个回答</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- 热门问答 end -->
      <!-- 热门文章 start -->
      <div class="aside-block-article">
        <div class="aside-title">
          <a href="#" class="asidetitle-more">更多</a>
          <h1>热门文章</h1>
        </div>
        <div class="aside-article">
          <div class="asidearticle-first">
            <a href="#"><img src="./images/aside-article.png" alt="#"/></a>
            <div class="asidearticle-info">
              <em>沪深</em>
              <p><a href="#">如果股价跌破公司拟预案会如何变化？</a></p>
              <span>12分钟前</span>
            </div>
          </div>
          <ul>
            <li>
              <em>沪深</em><span>56分钟前</span>
              <p><a href="#">如果股价跌破公司拟预案会如何变化？</a></p>
            </li>
            <li>
              <em>沪深</em><span>56分钟前</span>
              <p><a href="#">如果股价跌破公司拟定增的价格，拟定增的预案？</a></p>
            </li>
            <li>
              <em>沪深</em><span>56分钟前</span>
              <p><a href="#">如果股价跌破公司拟定增的价格，拟定增变化？</a></p>
            </li>
            <li>
              <em>沪深</em><span>56分钟前</span>
              <p><a href="#">如果股价跌破公司拟定增的价格如何变化？</a></p>
            </li>
            <li>
              <em>沪深</em><span>56分钟前</span>
              <p><a href="#">如果股价跌破价格，拟定增的预案会如何变化？</a></p>
            </li>
          </ul>
        </div>
      </div>
      <!-- 热门文章 end -->
      <!-- 收益排行 start -->
      <div class="aside-block asideblock-ranking" ng-controller="moerRanking">
        <div class="aside-tab aside-tab-3">
          <a class="on" href="javascript:void(0);">周收益</a>
          <a href="javascript:void(0);">月收益</a>
          <a href="javascript:void(0);">总收益</a>
        </div>
        <div class="asidetab-cont aside-ranking">
          <ul>
            <li ng-repeat="Rweek in rankweek">
              <div class="asiderank-avatar moerUsercard">
                <a ng-href="/authorHome.htm?theId={{Rweek.mArticleYie_pubUserId}}"><img ng-src="http://moerfile.jiemian.com/staticFile{{Rweek.img}}" alt="{{Rweek.user_name}}"/></a>
              </div>
              <div class="asiderank-msg">
                <h2><a href="#">{{Rweek.mArticleYie_title}}</a></h2>
                <p>
                  <em>{{Rweek.mArticleYie_yield}}<i>%</i></em>
                  <a ng-href="/authorHome.htm?theId={{Rweek.mArticleYie_pubUserId}}">{{Rweek.user_name}}</a>
                  <span>{{Rweek.mArticleYie_pubTime}}</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="asidetab-cont aside-ranking" style="display:none;">
          <ul>
            <li ng-repeat="Rmonth in rankmonth">
              <div class="asiderank-avatar moerUsercard">
                <a ng-href="/authorHome.htm?theId={{Rmonth.mArticleYie_pubUserId}}"><img ng-src="http://moerfile.jiemian.com/staticFile{{Rmonth.img}}" alt="{{Rmonth.user_name}}"/></a>
              </div>
              <div class="asiderank-msg">
                <h2><a href="#">{{Rmonth.mArticleYie_title}}</a></h2>
                <p>
                  <em>{{Rmonth.mArticleYie_yield}}<i>%</i></em>
                  <a ng-href="/authorHome.htm?theId={{Rmonth.mArticleYie_pubUserId}}">{{Rmonth.user_name}}</a>
                  <span>{{Rmonth.mArticleYie_pubTime}}</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="asidetab-cont aside-ranking" style="display:none;">
          <ul>
            <li ng-repeat="Ryear in rankyear">
              <div class="asiderank-avatar moerUsercard">
                <a ng-href="/authorHome.htm?theId={{Ryear.mArticleYie_pubUserId}}"><img ng-src="http://moerfile.jiemian.com/staticFile{{Ryear.img}}" alt="{{Ryear.user_name}}"/></a>
              </div>
              <div class="asiderank-msg">
                <h2><a href="#">{{Ryear.mArticleYie_title}}</a></h2>
                <p>
                  <em>{{Ryear.mArticleYie_yield}}<i>%</i></em>
                  <a ng-href="/authorHome.htm?theId={{Ryear.mArticleYie_pubUserId}}">{{Ryear.user_name}}</a>
                  <span>{{Ryear.mArticleYie_pubTime}}</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 收益排行 end -->
      <!-- 市场动态财经要闻 start -->
      <div class="aside-block asideblock-news" ng-controller="marketNews">
        <div class="aside-tab aside-tab-2">
          <a class="on" href="javascript:void(0);">市场动态</a>
          <a href="javascript:void(0);">财经要闻</a>
        </div>
        <div class="asidetab-cont aside-news">
          <div class="asidenews-item" ng-if="$index < 6" ng-repeat="m in market">
            <i><em></em></i>
            <span>{{m.marketDynamic_createTime}}</span>
            <h2><a href="#">{{m.marketDynamic_title | limitTo:28}}</a></h2>
            <p ng-show="$index < 1">{{m.marketDynamic_content}}</p>
          </div>
          <div class="asidenews-gradient"> </div>
        </div>
        <div class="asidetab-cont aside-news" style="display:none;">
          <div class="asidenews-item" ng-if="$index < 6" ng-repeat="f in finance">
            <i><em></em></i>
            <span>{{f.createTime}}</span>
            <h2><a href="#">{{f.title | limitTo:28}}</a></h2>
            <p ng-show="$index < 1">{{f.freeRead}}</p>
          </div>
          <div class="asidenews-gradient"> </div>
        </div>
      </div>
      <!-- 市场动态财经要闻 end -->
      <!-- 热门撰稿人 start -->
      <div class="aside-block asideblock-copywriter">
        <div class="aside-title">
          <!--<a href="#" class="asidetitle-more">更多</a>-->
          <h1>热门撰稿人</h1>
        </div>
        <div class="aside-copywriter">
          <ul>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar1.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">用户名123</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar2.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">用户名123</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar3.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">用户名123</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar4.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">用户名123</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar5.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">用户名123</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar6.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">用户名123</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar7.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">用户名123</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar8.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">用户名123</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar9.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">长安大湿...</a></p>
            </li>
            <li>
              <div class="moerUsercard"><a href="#"><img src="./images/avatar/avatar10.jpg" alt="#"/></a></div>
              <p class="moerUsercard"><a href="#">长安大湿人</a></p>
            </li>
          </ul>
        </div>
      </div>
      <!-- 热门撰稿人 end -->
    </div>
  </div>
  <div class="footer">
    <div class="footer-top">
      <div class="footertop-cont">
        <div class="footertop-cont1">
          <h4>6000<span>篇</span></h4>
          <p>独家投资观点</p>
        </div>
        <div class="footertop-cont2">
          <h4>700<span>位</span></h4>
          <p>顶尖撰稿人加入</p>
        </div>
        <div class="footertop-cont3">
          <h4>24<span>小时</span></h4>
          <p>24小时更新</p>
        </div>
        <div class="footertop-cont4">
          <h4>201<span>%</span></h4>
          <p>在摩尔金融讨论的所有股票平均收益为201%</p>
        </div>
      </div>
    </div>
    <div class="footer-cont">
      <div class="footercont-right">
        <img src="./images/moer-footer-logo.png" alt="#"/>
      </div>
      <div class="footercont-left">
        <ul>
          <li><strong>关于摩尔</strong></li>
          <li><a href="#">关于我们</a></li>
          <li><a href="#">免责声明</a></li>
          <li><a href="#">版权声明</a></li>
          <li><a href="#">隐私声明</a></li>
          <li><a href="#">建议</a></li>
        </ul>
        <ul>
          <li><strong>投资人</strong></li>
          <li><a href="#">上海报业集团</a></li>
          <li><a href="#">小米科技</a></li>
          <li><a href="#">奇虎360</a></li>
          <li><a href="#">海通证券</a></li>
          <li><a href="#">国泰君安</a></li>
        </ul>
        <ul>
          <li><strong>合作伙伴</strong></li>
          <li><a href="#">中信证券</a></li>
          <li><a href="#">东方基金</a></li>
          <li><a href="#">动脉网</a></li>
        </ul>
        <ul>
          <li><strong>网站地图</strong></li>
          <li><a href="#">首页</a></li>
          <li><a href="#">自选股</a></li>
          <li><a href="#">投资发现</a></li>
          <li><a href="#">问答发现</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <span>界面（上海）网络科技有限公司 版权所有 CopyRight 2015 沪ICP备14040942号</span>
      <span>服务热线：400-803-6208（工作日9：00-18：00）</span>
    </div>
  </div>
</body>
</html>