.nologin-item1 {background:url("../images/nologin/nologin1.jpg");}
.nologin-item2 {background:url("../images/nologin/nologin2.jpg");}
.nologin-item3 {background:url("../images/nologin/nologin3.jpg");}
.nologin-item4 {background:url("../images/nologin/nologin4.jpg");}
.nologin-item5 {background:url("../images/nologin/nologin5.jpg");}